<div class="center jumbotron">
  <% if logged_in? %>
    <%= render 'shared/map' %>
    <br />
    <center><h3><%= link_to "See Vendor Pages", vendors_path %></h3></center>
    <%= form_tag(root_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Vendors" %>
      <%= submit_tag "Search",  :class => "btn btn-default", :name => nil%>
    <% end %>
        
  <% else %>
    <h1>Vancouver Vendor Diary</h1>
    <h2>Welcome to the visualization of <a href=" http://data.vancouver.ca/datacatalogue/foodVendors.htm"><em>Vendors of  Vancouver</em></a></h2>
    <center><h4>Feeling hungry? Here you can locate food vendors in Vancouver and share your thoughts with other users!</h4></center><br>
    <center><%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %></center></br>
    <div id="user_nav">  
       <center><%= link_to "Sign in with facebook", "/auth/facebook", id: "sign_in", class: "btn btn-lg btn-primary" %></center>
    </div> 
    <center><%= link_to image_tag("VVD.png", alt: "Team SO logo"), root_path %></center>
  <% end %>
</div>

