<% provide(:title, 'Vendors') %>
<h1>All Vendors</h1>
<%= form_tag(vendors_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Vendors" %>
  <%= submit_tag "Search", :name => nil %>
<% end %>

<br>
<% provide(:title, 'All vendors') %>
<%= will_paginate %>
<ul class="vendors">
<% @vendors.each do |vendor| %>
  <li><%= link_to vendor.business_name, vendor %></li>
<% end %>
</ul>
<br>
<% if current_user.is_admin? %>
  <%= form_tag import_vendors_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import" %>
  <% end %>
<% end %>
