<%= provide(:title, @vendor.business_name) %>
<div class="container target">
  <div class="row">
    <div class="col-sm-10">
      <h1 ><%= @vendor.business_name %></h1>
    </div>
    <div class="col-sm-2"><a class="pull-right"><img title="profile image" class="img-circle img-responsive" src="http://previews.123rf.com/images/subbotina/subbotina1307/subbotina130700052/20793553-grilled-beef-steak-meat-over-white-food-restaurant-steak.jpg"></a></div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"> Description</div>
  <div class="panel-body"><%= @vendor.description %></div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"> Type</div>
  <div class="panel-body"><%= @vendor.vendor_type %></div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"> Location </div>
  <div class="panel-body"><%= @vendor.location %></div>
</div>

<%= render 'shared/vmap' %>
<br />
<% if current_omniauthuser %>
<% elsif current_user%>
  <%= render 'shared/history_entry_form' %>
  <%= render 'make_comment' %>
  <%= render 'shared/comments', object: @vendor %>
<% end %>
<br />
<div class="btn btn-default"><%= link_to "Go Back to Index", vendors_path %></div>
